a:not(.nostyle) {
    color: #ffa31a !important;
}

a.nostyle {
  color: white !important;
  text-decoration: none;
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #FFA31A #121212;
  }
  
  /* Chrome, Edge and Safari */
  *::-webkit-scrollbar {
    width: 5px;
    width: 5px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #121212;
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: #121212;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: #121212;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #FFA31A;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #E7960A;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: #E7960A;
  }
  